*{
  margin:0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; 
}

.imageSection {
  flex: 1;

}
.imageSection img {
  /* filter: blur(1px); */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; /* Ensure the image is behind other content */
}

.formSection {
  flex: 1;
  padding: 20px;
}

.formcontainer {
  height: 400px;
  max-width: 400px;
  margin-top: 20%;
  margin-left: 20%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(81, 109, 120, 0.317); /* Set a semi-transparent background color */
  backdrop-filter: blur(10px); 
}

.heading {
  display: block;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 350px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formController {
  margin-bottom: 15px;
}



